<html>
<head>
  <title>Events</title>
</head>
<body>

  <% if (eventList.length === 0) { %>
    <p>No events yet.</p>
  <% } else { %>
    <h2>Node.js Event List</h2>
    <a href="/events">back</a>
     
    <% eventList.forEach(event => { %>
      
        <p><strong>Name: <%= event.name %></strong></p>
        Description: <%= event.desc %><br>
        Date: <%= new Date(event.date).toLocaleDateString('en-GB', {
          day: 'numeric',
          month: 'long',
          year: 'numeric'
        }) %> <%= new Date(event.date).toLocaleTimeString('en-GB', {
          hour: '2-digit',
          minute: '2-digit'
        }) %><br>
        Entry Fee: <%= event.entryFee %><br>
        Location: <%= event.location %><br>
        Participants: <%= event.participants.length %>/<%= event.capacity %><br><br>
        
        <% if (event.author && event.author.toString() === userId) { %>
          <button disabled>Your event</button>
        <% } else if (userEvents.some(e => e.toString() === event._id.toString())) { %>
          <form action="/events/event-list/remove" method="POST">
            <input type="hidden" name="eventId" value="<%= event._id %>">
            <button type="submit">Remove from my events</button>
          </form>
        <% } else if (event.participants.length >= event.capacity) { %>
            <button disabled>Event Full</button>
        <% } else if (new Date() > new Date(event.date)) { %>
            <button disabled>Past Event</button>
        <% } else { %>
          <form action="/events/event-list" method="POST">
            <input type="hidden" name="eventId" value="<%= event._id %>">
            <button type="submit">Add to my events</button>
          </form>
        <% } %>

      <hr>
    <% }); %>
    
  <% } %>
     
</body>
</html>