<html>
<head>
  <title>Edit Events</title>
</head>
<body>

  <% if (events.length === 0) { %>
    <p>No events yet.</p>
  <% } else { %>
    <h1>Your Event List</h1>
    <a href="/events">Back to Home Page</a>
    <hr>
    <h2>Add New Event</h2>
    <a href="add-event"><button>Add new event</button></a><br><br>
    <hr>
    <% events.forEach(event => { %>
      
        <p><strong>Name: <%= event.name %></strong></p>
        Description: <%= event.desc %><br>
        Date: <%= event.date %><br>
        Entry Fee: <%= event.entryFee %><br>
        Location: <%= event.location %><br>
        Participants: <%= event.participants.length %>/<%= event.capacity %><br><br>
        <% if (new Date() > new Date(event.date)) { %>
          <button disabled>Can't make changes after event has passed</button>
          <a href="/events/delete-event?id=<%= event._id %>"><button>Delete</button></a>
        <% } else { %>
          <a href="/events/update-event?id=<%= event._id %>"><button>Edit</button></a>
          <a href="/events/delete-event?id=<%= event._id %>"><button>Delete</button></a>
        <% } %>
        <hr>
    <% }); %>
    
  <% } %>
     
</body>
</html>