<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
</head>
<body style="text-align: center;">
    <%- include("../navbar-user") %>
    <h1 style="text-align: center;">EVENTS</h1>

    <form action="/events/search-event" method="POST">
        <input type="text" name="name" placeholder="Search events...">
        <button type="submit">Search</button>
    </form><br><br>
    <h3>Upcoming Events</h3>
    <% upcomingEvents.forEach(event => { %>
        <p><strong><%= event.name %></strong><br>
        <%= event.location %> — <%= new Date(event.date).toLocaleDateString('en-GB', { day: 'numeric', month: 'long', year: 'numeric' }) %> <%= new Date(event.date).toLocaleTimeString('en-GB', { hour: '2-digit', minute: '2-digit' }) %></p>
    <% }) %>
    <br><br>
    <a href="events/event-list"><button>View all events</button></a><br><br>
    <a href="events/edit-events"><button>View your events</button></a><br><br>
    <%- include("../footer") %>
</body>
</html>