<!DOCTYPE html>
<html lang="en">
<head>
    <title>Update Event</title>
    <link rel="stylesheet" href="/css/events-styles.css">
</head>
<body>
    <% if (result.name) { %>
    <h3>Update Event</h3>
    <a href="/events/edit-events">back</a><br><br>

    <form action="/events/update-event" method="POST">
        <table border="1">
            <tr>
                <th>Name:</th><td><%= result.name %></td>
            </tr>
            <tr>
                <th>Description:</th><td><input type="text" name="desc" value="<%= result.desc %>"></td>
            </tr>
            <tr>
                <th>Date:</th><td><input type="date" name="date" value="<%= result.date ? result.date.toISOString().split('T')[0] : '' %>"></td>
            </tr>
            <tr>
                <th>Entry Fee:</th><td><input type="text" name="entryFee" value="<%= result.entryFee %>"></td>
            </tr>
            <tr>
                <th>Location:</th><td><input type="text" name="location" value="<%= result.location %>"></td>
            </tr>
            <input type="hidden" name="id" value="<%= result._id %>">
            <tr>
                <td colspan="2"><button type="submit">Update Event</button></td>
            </tr>
        </table>
    </form>
    <% } %>

    <br><br>
</body>
</html>