<!DOCTYPE html>
<html>
<head>
  <title>Reviews</title>
</head>
<body>
  <a href="/homepage"><strong>Back to Main Page</strong></a><br>
  <a href="/songs/browse"><strong>Back to Browse Songs</strong></a><br><br>

  <h1><u>Song to Review: <%= songTitle %></u></h1>

  <h3>Add Your Reviews Here</h3>
  <form action="/reviews/create/<%= songId %>" method="POST">
    Rating (1-5): <input type="number" name="rating" min="1" max="5" /><br>
    Comment: <input type="text" name="comment" /><br>
    <button type="submit">Submit</button>
  </form>
  <% if(error) { %>
    <p><%= error %></p>
  <% } %>

  <h3><u>Review List:</u></h3>
    <% if (!reviews) { %>
      <%= output %>
    <br>
    <% } else { %>

    <h4><%= reviews.length %> review(s) found.</h4>

  <ol>

      <% reviews.forEach(function(review) { %>
      <li>
        <strong>Username: <%= review.userName %></strong><br>
        Rating: <%= review.rating %><br>
        Comment: <%= review.comment %>

        <% if (currentUser && review.userId.toString() === currentUser.id) { %>
        <!-- UPDATE FORM -->
        <form action="/reviews/update/<%= songId %>" method="POST">
          <input type="hidden" name="reviewId" value="<%= review._id %>" />
          <input type="number" name="rating" min="1" max="5" placeholder="New Rating" style="width: 15ch;" />
          <input type="text" name="comment" placeholder="New Comment" style="width: 15ch;" /> 
          <button type="submit">Update</button>
        </form>
        
        
        <!-- DELETE FORM -->
        <form action="/reviews/delete/<%= songId %>" method="POST">
          <input type="hidden" name="reviewId" value="<%= review._id %>" />
          <br>
          <button type="submit">Delete</button>
        </form>
        <% } %>
      </li>
      <br>
    <% }) %>
    <% } %>

    
  </ol>

</body>
</html>