<!-- 
 Included in:
 - /views/playlists/playlist-info.ejs
-->

<table border="1">
    <tr>
        <th>No.</th>
        <th>Title</th>
        <th>Artist</th>
        <th>Duration</th>
    </tr>
    <% for (let i = 0; i < songs.length; i++) { %>
    <tr>
        <% const song = songs[i] %>
        <th><%= (i + 1).toString().padStart(2, "0") %></th>
        <td><a href="/song/<%= song._id %>"><%= song.title %></a></td>
        <td><%= song.artist %></td>
        <td><%= durations[i] %></td>
    </tr>
    <% } %>
</table>