<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Browse Songs</title>
    <link rel="stylesheet" href="/css/songs.css">
</head>

<body class="songs-page">
    <%- include("../navbar-user") %>
    <div class="browse-songs">
        <h1>Browse Songs</h1>
        <button><a href="/songs/create">Add a new song</a></button>
        <br><br>

        <!-- If no songs, display message, else display table of songs -->
        <% if (songs.length> 0) { %>
        <table border="1">
            <tr>
                <th>Uploader</th>
                <th>Title</th>
                <th>Artist</th>
                <th>Album</th>
                <th>Genre</th>
                <th>Duration</th>
                <th>Reviews</th>
            </tr>
            <% songs.forEach(song=> { %>
            <tr>
                <td>
                    <%= song.uploader ? song.uploader.username : "-" %>
                </td>
                <td><a href="/songs/<%= song._id %>">
                        <%= song.title %>
                    </a></td>
                <td>
                    <%= song.artist %>
                </td>
                <td>
                    <%= song.album || "-" %>
                </td>
                <td>
                    <%= song.genre || "-" %>
                </td>
                <td>
                    <%= formatDuration(song.duration) %>
                </td>
                <td>
                    <a href="/reviews/<%= song._id %>">View Reviews</a>
                </td>
            </tr>
            <% }) %>
        </table>
        <% } else { %>
        <p>No songs have been added yet.</p>
        <% } %>
    </div>

    <%- include("../footer") %>
</body>

</html>
