<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Song</title>
</head>
<body>
    <%- include("../navbar-user") %>
    <h1>Edit Song</h1>
    <!-- Display error message if there is an error -->
    <% if (error) { %>
        <p style="color: red;"><strong>Error:</strong> <%= error %></p>
    <% } %>
    <!-- Edit song form pre-filled with existing song data -->
    <form action="/songs/edit/<%= song._id %>" method="post">
        <p><strong>Uploader:</strong> <%= song.uploader %></p>
        <input type="hidden" name="uploader" value="<%= song.uploader %>">
        <%- include("form-fields", { fields: song, showUploader: false }) %>
        <input type="submit" value="Save Changes">
    </form>

    <%- include("../footer") %>
</body>
</html>
