<div>
    <label for="title">Title</label>
    <input type="text" id="title" name="title" value="<%= fields.title %>" required>
</div>
<div>
    <label for="artist">Artist</label>
    <input type="text" id="artist" name="artist" value="<%= fields.artist %>" required>
</div>
<div>
    <label for="album">Album</label>
    <input type="text" id="album" name="album" value="<%= fields.album %>">
</div>
<div>
    <label for="genre">Genre</label>
    <input type="text" id="genre" name="genre" value="<%= fields.genre %>">
</div>
<div>
    <label for="duration">Duration (seconds)</label>
    <input type="number" id="duration" name="duration" min="1" value="<%= fields.duration %>" required>
</div>
<div>
    <label for="youtubeUrl">YouTube URL</label>
    <input type="url" id="youtubeUrl" name="youtubeUrl" value="<%= fields.youtubeUrl %>">
</div>
