<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/playlist-browse.css">
    <link rel="stylesheet" href="/css/events-styles.css">
    <title>Browse Playlists</title>
</head>
<body>
    <%- include("../navbar-user") %>
    <main>
        <div class="playlist-page-content">
        <h1>Browse Playlists</h1>
        <ul class="action-btns">
            <li><a class="action-btn" href="/playlist/create">Create a new playlist</a></li>
            <li><a class="action-btn" href="/playlist/random">I'm feeling lucky!</a></li>
        </ul>
        <form action="/playlist/browse" method="get">
            <input type="search" name="query" id="query" placeholder="Search by playlist name..." value="<%= query %>">
            <br>
        <label for="sortby">Sort by:</label>
        <select name="sortby" id="sortby">
            <option value="name" <%= sortby === 'name'? "selected": "" %>>Playlist Name</option>
            <option value="creationDate" <%= sortby === 'creationDate'? "selected": "" %>>Creation Date</option>
        </select>
        
        <label for="isAscending">Order:</label>
        <select name="isAscending" id="isAscending">
            <option value="true" <%= isAscending? "selected": "" %>>Ascending (A to Z, earliest)</option>
            <option value="false" <%= !isAscending? "selected": "" %>>Descending (Z to A, latest)</option>
        </select>
        
        <input type="submit" value="Search">
        </form>
        <br>
        <%- include("subpages/playlists-table", {playlists: allPlaylists}) %>
        </div>
    </main>
</body>
</html>