<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Browse Playlists</title>
</head>
<body>
    <%- include("../navbar-user") %>
    <h1>Browse Playlists</h1>

    <form action="/playlist/browse" method="get">
        <label for="sortby">Sort by:</label>
        <select name="sortby" id="sortby">
            <option value="name" <%= sortby === 'name'? "selected": "" %>>Playlist Name</option>
            <option value="creationDate" <%= sortby === 'creationDate'? "selected": "" %>>Creation Date</option>
        </select>
        
        <label for="isAscending">Order:</label>
        <select name="isAscending" id="isAscending">
            <option value="true" <%= isAscending? "selected": "" %>>Ascending (A to Z, earliest)</option>
            <option value="false" <%= !isAscending? "selected": "" %>>Descending (Z to A, latest)</option>
        </select>

        <input type="submit" value="Sort">
    </form>
    <br>

    <% if (allPlaylists) { %>
        <table border="1">
            <tr>
                <th>Name</th>
                <th>Creation Date</th>
                <th>Owner</th>
            </tr>
    
            <% allPlaylists.forEach(playlist => { %>
            <tr>
                <td><a href="/playlist/<%= playlist._id %>"><%= playlist.name %></a></td>
                <td><%= playlist.creationDate %></td>
                <td><a href="#"><%= playlist.owner || "Unknown" %></a></td>
            </tr>
            <% }) %>
    
        </table>
    <% } else { %>
        <p>No playlists yet.</p>
    <% } %>
    <%- include("../footer") %>
</body>
</html>