<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Playlist</title>
    <script src="/javascript/playlist-insert-song.js" defer></script>
</head>
<body>
    <h1>Create Playlist</h1>
    <form action="/playlist/create" method="post">
        
    <input type="hidden" name="user" value="<%= user %>">

    <label for="name">Playlist Name</label><br>
    <input type="text" name="name" id="name" required value="<%= error? name: "" %>"><br><br>

    <label for="description">Description</label><br>
    <textarea name="description" id="description" rows="2" cols="50"><%= error? description : "" %></textarea><br><br>
    
    <!-- TODO: Store Genre List Externally, add dynamically. -->
    <% const allGenres = ["Pop", "Rock", "Indie", "Jazz"] %>
    <% let genreSel = error? genre: "" %>

    <label for="genre">Genre</label><br>
    <select name="genre" id="genre">
        <option value="" <%= "" === genreSel? "selected": "" %>>None</option>

        <% allGenres.forEach(option => { %>
            <option value="<%= option %>" <%= option === genreSel? "selected": "" %>><%= option %></option>
        <% }) %>

        <option value="Other" <%= "Other" === genreSel? "selected": "" %>>Other</option>
    </select><br><br>

    
    <% let isPublicSel = error? isPublic: false %>
    <label for="isPublic">Visibility</label><br>
    <select name="isPublic" id="isPublic">
        <option value="false" <%= isPublicSel? "": "selected" %>>Private</option>
        <option value="true" <%= isPublicSel? "selected": "" %>>Public</option>
    </select><br><br>

    <!-- Song Selection -->
    <button id="insertBtn">Insert new slot</button>
    <table border="1">
        <input type="hidden" name="songs" id="songs">
        <thead>
            <th>No.</th>
            <th>Song</th>
            <th>Action</th>
        </thead>
        <tbody>
            <tr id="empty-slot">
                <td colspan="3">No songs yet...</td>
            </tr>

        </tbody>

    </table>
    <br>
    <input type="submit" value="Create Playlist">

    </form>

</body>
</html>