<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Browse Playlists</title>
    <style>
        table.pinfo th {
            text-align: left;
        }
    </style>
</head>
<body>
    <%- include("../navbar-user") %>
    <main>
        <h1>Information for "<%= playlist.name %>"</h1>
        <h2>Created by: <%= playlist.owner? playlist.owner: "Unknown" %></h2>
        <ul>
            <li><a href="/playlist/edit/<%= playlist._id %>">Edit</a></li>
            <li><a href="/playlist/delete/<%= playlist._id %>">Delete</a></li>
        </ul>
        <p><%= playlist.description || "No description provided." %></p>
        <!-- Other information -->
        <table class="pinfo">
            <tr>
                <th>Genre</th>
                <th>:</th>
                <td><%= playlist.genre || "None" %></td>
            </tr>
            <tr>
                <th>Visibility</th>
                <th>:</th>
                <td><%= playlist.visibility %></td>
            </tr>
            <tr>
                <th>Creation Date</th>
                <th>:</th>
                <td><%= playlist.creationDate %></td>
            </tr>
        </table><br>
        <!-- Songs -->
        <%- include("songs-table", {songs: songsList, durations: songsDuration}) %>
    </main>
    <%- include("../footer") %>
</body>
</html>