<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Browse Playlists</title>
    <style>
        table.pinfo th {text-align: left;}
        header {display: flex; align-items: center; gap: 1rem;}
    </style>
</head>
<body>
    <%- include("../navbar-user") %>
    <main>
        <% const thumbURL = playlist.thumbnailExt === ""? "": `/image/playlist-thumb/${playlist._id}${playlist.thumbnailExt}` %>
        <header>
            <img src="<%= thumbURL %>" alt="" height="128" width="128">
            <span>
                <h1><%= playlist.name %></h1>
                <% if (playlist.owner) { %>
                    <p><a href="<%= playlist.owner %>"><%= playlist.owner %></a></p>
                <% } else { %>
                    <p><em>Unknown Owner</em></p>
                <% } %>
            </span>
        </header>
        <% if (isOwner) { %>
            <ul>
                <li><a href="/playlist/edit/<%= playlist._id %>">Edit</a></li>
                <li><a href="/playlist/delete/<%= playlist._id %>">Delete</a></li>
            </ul>
        <% } %>
        
        <fieldset>
            <legend><strong>Description</strong></legend>
            <%- include("playlist-desc", {playlist}) %>
        </fieldset>
        
        <!-- Other information -->
        <table class="pinfo">
            <tr>
                <th>Visibility</th>
                <th>:</th>
                <td><%= playlist.visibility %></td>
            </tr>
            <tr>
                <th>Creation Date</th>
                <th>:</th>
                <td><%= playlist.creationDate %></td>
            </tr>
            <tr>
                <th>Total Songs</th>
                <th>:</th>
                <td><%= playlist.songs.length %> song<%= playlist.songs.length == 1? "": "s" %></td>
            </tr>
            <tr>
                <% const playlistMinute = Math.round(playlistDuration / 60) %>
                <th>Total Duration</th>
                <th>:</th>
                <td><%= playlistMinute %> minute<%= playlistMinute == 1? "": "s" %></td>
            </tr>
        </table><br>
        <!-- Songs -->
        <%- include("songs-table", {songs: songsList, durations: songsDuration}) %>
    </main>
    <%- include("../footer") %>
</body>
</html>