<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Profile</title>
</head>

<body>
    <a href="javascript:history.back()">Back</a>

    <h2>Profile: Username - <%=user.username%> 
    </h2>
    <p><img src="<%=user.profilePicture%>" width="120"></p>

    <p>
        <%= user.followers.length %>
            <%- user.followers.length <=1 ? `<a href="/user/showConnection?type=followers&id=${user._id}">follower</a>`
                : `<a href="/user/showConnection?type=followers&id=${user._id}">followers</a>`
                %>
    </p>

    <p>
        <%= user.followings.length %>
            <a href="/user/showConnection?type=following&id=<%= user._id %>">following</a>
    </p>
    <form action="/user/<%= isFollowing ? 'unfollowUser' : 'followUser' %>" method="post">
        <input type="hidden" name="targetUserId" value="<%=user._id%>">
        <button type="submit">
            <%= isFollowing ? 'Following' : 'Follow' %>
        </button>
    </form>


</body>

</html>