<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>

<body>
    <h2>Welcome, <%= user.username %>!</h2>
    <a href="/user/search">Search Friends</a><br>
    <a href="/user/logout">Logout</a><br>
    <a href="/user/edit/">Edit personal info</a><br>
    <a href="/user/change-password/">Change Password</a><br>
    <a href="/user/delete/">Delete</a><br>
    <img src="<%=user.profilePicture%>" width="150"><br>
     <p>
        <%= user.followers.length %>
            <%- user.followers.length <=1 ? `<a href="/user/showConnection?type=followers&id=${user._id}">follower</a>`
                : `<a href="/user/showConnection?type=followers&id=${user._id}">followers</a>`
                %>
    </p>

    <p>
        <%= user.followings.length %>
            <a href="/user/showConnection?type=following&id=<%= user._id %>">following</a>
    </p>
    Email: <%= user.email %> <br>

        <a href="/playlist/yours">Browse your playlist!</a>
</body>

</html>