<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>

<body>
    <%- include("../navbar-user") %>
        <h2>Welcome, <%= user.username %>!</h2>
        <a href="/user/search">Search Friends</a><br>
        <form action="/user/logout" method="post">
            <button type="submit">Log-Out</button>
        </form>

        <a href="/user/edit/">Edit personal info</a><br>
        <a href="/user/change-password/">Change Password</a><br>
        <a href="/user/delete/">Delete</a><br>
        <img src="<%=user.profilePicture%>" width="150"><br>
        <p>
            <%= user.followers.length %>
                <%- user.followers.length <=1 ? `<a
                    href="/user/showConnection?type=followers&id=${user._id}">follower</a>`
                    : `<a href="/user/showConnection?type=followers&id=${user._id}">followers</a>`
                    %>
        </p>

        <p>
            <%= user.followings.length %>
                <a href="/user/showConnection?type=following&id=<%= user._id %>">following</a>
        </p>
        Email: <%= user.email %> <br>

            <h3>Your Playlists</h3>

            <% if (playlists.length> 0) { %>
                <% playlists.forEach(playlist=> { %>
                    <p>
                        <a href="/playlist/<%= playlist._id %>">
                            <%= playlist.name %><br>
                                <% const thumbURL=playlist.thumbnailExt ?
                                    `/image/playlist-thumb/${playlist._id}${playlist.thumbnailExt}`
                                    : '/image/default-thumb.png' %>

                                    <img src="<%= thumbURL %>" width="120">

                        </a>

                    </p>
                    <% }) %>
                        <% } else { %>
                            <p>You have no playlists yet.</p>
                            <% } %>

                                <h3>Your Alerts</h3>
                                <form action="/user/clear-alerts" method="POST">
                                    <button type="submit">Clear All</button>
                                </form>
                                <% if (user.alerts && user.alerts.length> 0) { %>
                                    <% [...user.alerts].reverse().forEach(alert=> { %>
                                        <p <%=!alert.read ? 'class="unread"' : '' %>>
                                            <%= alert.message %>
                                                <small>
                                                    <%= alert.createdAt.toLocaleDateString() %>
                                                </small>
                                        </p>
                                        <% }) %>
                                            <% } else { %>
                                                <p>You have no alerts.</p>
                                                <% } %>
                                                    <%- include("../footer") %>
</body>

</html>