<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Album Marked for Deletion</title>
    <link rel="stylesheet" href="/css/album-dark.css">
</head>
<body>
    <%- include('../navbar-user') %>
    <h1>Album Marked for Deletion</h1>
    <button type="button"><strong><a href="/album/<%= album._id %>">Back To Album</strong></a></button><br>
    <% if(album){ %>
        <p><strong>Title:</strong> <%= album.title %></p>
        <p><strong>Artist:</strong> <%= album.createdBy.username %></p>
        <% if (album.description){ %>
            <p><strong>Description:</strong> <%= album.description %></p>
        <% } %>
        <p><strong>Release Year:</strong> <%= album.yearReleased %></p>
        <p><strong>Songs: <%= album.songs.length %></strong></p>
            <% if (album.songs.length > 0) { %>
    <table border="1">
        <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Artist</th>
                <th>Duration</th>
            </tr>
        </thead>
        <tbody>
            <% album.songs.forEach((song, index) => { %>
                <tr>
                    <td><%= index + 1 %></td>
                    <td><%= song.title %></td>
                    <td><%= song.artist %></td>
                    <td><%= Math.floor(song.duration / 60) %>:<%= (song.duration % 60).toString().padStart(2, '0') %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
    <% } else { %>
        <p>No songs available.</p>
    <% } %>
    
    <br>
    <form action="/album/delete/<%= album._id %>" method="post">
        <input type="hidden" name="id" value="<%= album._id %>">
        <label>
            <input type="checkbox" id="confirmDelete">
            I confirm that I want to delete this album
        </label><br><br>
        <button type="submit" id="deleteBtn" disabled>Delete Album</button> 
    </form>
    
<% } else if (album === null) { %>
    <p>Album not found</p>
<% } %>

<script>
    // enables or disables the checkbox button based on whether the checkbox is checked.
    // button starts disabled and only becomes clickable after user check the checkbox
    document.getElementById('confirmDelete').addEventListener('change', function () {
        document.getElementById('deleteBtn').disabled = !this.checked;
    });
</script>

</body>
</html>