<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= album.title %> - Album Details
    </title>
    <link rel="stylesheet" href="/css/album-dark.css">
</head>

<body>
    <%- include('../navbar-user') %>
    <button type="button"><a href="/album/browse"><strong>Back To Main Page</strong></a></button>
    <button type="button"><a href="/album/edit/<%= album._id%>"><strong>Edit Album</strong></a></button>
    <button type="button"><a href="/album/delete/<%= album._id%>"><strong>Delete Album</strong></a></button>
    <h1><%= album.title %></h1>

    <strong><%= album.createdBy.username %></strong> • <%= album.yearReleased %> • <%= album.songs.length %> <%= album.songs.length === 1 ? 'song' : 'songs' %>, <%= Math.floor(album.songs.reduce((acc, s)=> acc + s.duration, 0) / 60) %> min, <%= (album.songs.reduce((acc, s)=> acc +
            s.duration, 0) % 60).toString().padStart(2, '0') %> sec
    <hr>

    <% if (album.description === ""){ %>
        <p></p>
    <% } else { %>
        <p><strong>Description:</strong> <%= album.description %></p>
        <hr>
    <% } %>

    <% if (album.songs && album.songs.length > 0) { %>
    <table border="1">
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Artist</th>
            <th>Duration</th>
        </tr>
        <% album.songs.forEach((song, index) => { %>
            <tr>
                <td><%= index + 1 %></td>
                <td><%= song.title %></td>
                <td><%= song.artist %></td>
                <td><%= Math.floor(song.duration / 60) %>:<%= (song.duration % 60).toString().padStart(2, '0') %></td>
            </tr>
        <% }) %>
    </table>
    <% } else { %>
        <p>No songs available.</p>
    <% } %>

</body>

</html>