<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= album.title %> - Album Details
    </title>
</head>

<body>
    <button type="button"><a href="/album/browse"><strong>Back To Main Page</strong></a></button>
    <button type="button"><a href="/album/edit/<%= album._id%>"><strong>Edit Album</strong></a></button>
    <button type="button"><a href="/album/delete/<%= album._id%>"><strong>Delete Album</strong></a></button>
    <h1><%= album.title %></h1>

    <h2>Album Details:</h2>

    <p><strong>Artist:</strong>
            <%= album.artist %>
        </p>
        <p><strong>Description:</strong>
            <%= album.description %>
        </p>
        <p><strong>Release Year:</strong>
            <%= album.yearReleased %>
        </p>

        <h3>Songs: <%= album.songs.length %></h3>
        <% if (album.songs && album.songs.length> 0) { %>
            <ul>
                <% album.songs.forEach(song=> { %>
                    <li>
                        <%= song.title %> by <%= song.artist %>
                    </li> <!-- Displaying song title and artist -->
                <% }) %>
            </ul>
        <% } else { %>
            <p>No songs available.</p>
        <% } %>

</body>

</html>